@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nunito:wght@200&family=Poppins:wght@200;300&family=Raleway:wght@300&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@0,300;0,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #191919;
    color: white;
}

.style-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}


canvas {
    background-color: #111;
}

/*estilização buttons responsivo*/
.btns__for_responsive {
    display: none;
}

.button {
    width: 30%;
    height: 30%;
    background-color: red;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 7rem;
    border-radius: 5px;
    border: none;
    color: white;

}

.btns__for_responsive>.up {
    top: 0;
    left: 90px;
    transform: rotate(90deg);
}

.btns__for_responsive>.down {
    bottom: 0;
    left: 90px;
    transform: rotate(270deg);
}


.btns__for_responsive>.left {
    left: 0;
    top: 90px;

}

.btns__for_responsive>.right {
    right: 0;
    top: 90px;

    transform: rotate(180deg);
}

/*final responsividade buttons*/


.score {
    font-size: 1.8rem;
}

.menu-screen {
    position: absolute;
    width: 30rem;
    height: 20rem;
    background-color: rgb(156, 156, 156);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 3rem;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
}

.menu-screen>button {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px 20px;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: rgb(244, 64, 64);
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    color: white;
}

.menu-screen>button:hover {
    background-color: rgb(235, 48, 48);

}


@media (max-width: 1520px) {
    canvas{
        background-color: #111;
        width: 550px;
    }
    
}

@media (max-width: 820px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .style-context {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 20px;
    }

    .btns__for_responsive {
        display: flex;
        width: 15rem;
        height: 15rem;
        background-color: rgb(248, 248, 248, 0.1);
        margin: 10px auto;
        position: relative;
        border-radius: 10px;
        outline: none;
    }

}

@media (max-width: 600px) {

    canvas {
        background-color: #111;
        width: 400px;
    }

    .menu-screen {
        position: absolute;
        width: 25rem;
        height: 20rem;
        top: 200px;
        background-color: rgb(156, 156, 156);
        color: white;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: 3rem;
        z-index: 1;
    }

    .btns__for_responsive {
        width: 15rem;
        height: 15rem;
    }

}

@media (max-width: 420px) {

    canvas {
        background-color: #111;
        width: 350px;
    }

    .menu-screen {
        position: absolute;
        width: 20rem;
        height: 15rem;
        top: 200px;
        background-color: rgb(156, 156, 156);
        color: white;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: 2rem;
        z-index: 1;
    }

}